body {
  margin: 0;
}

.bigbox {
	display: block;
	border: black;
	border-style: solid;
	margin: 32px;
	padding: 10px;
	width: flex;
}

.hmm {
	margin-left: 10px;
	margin-right: 10px;
}

.content {
	margin-left: 32px;
}

.feed-title {
	display: none;
}

.sidebar {
	float: right;
	margin: 32px;
	padding: 10px;
	display: block;
	border: black;
	border-style: solid;
}

blockquote {
	background: #f4f4f4;
	border: 1px solid #ddd;
	border-left: 3px solid #f36d33;
	color: #666;
	page-break-inside: avoid;
	font-family: monospace;
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1em 1.5em;
	display: block;
	word-wrap: break-word;
}
