body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
	background-color: #333;
	top: 0;
	width: 100%;
}

li {
	float: right;
}

.logo {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #ff8c00;
}

.bigbox {
	display: block;
	border: black;
	border-style: solid;
	margin: 32px;
	padding: 10px;
	width: fit-content;
}

.hmm {
	margin-left: 10px;
	margin-right: 10px;
}

.content {
	margin-left: 32px;
}

.feed-title {
	display: none;
}

.sidebar {
	float: right;
	margin: 32px;
	padding: 10px;
	display: block;
	border: black;
	border-style: solid;
}

blockquote {
	background: #f4f4f4;
	border: 1px solid #ddd;
	border-left: 3px solid #f36d33;
	color: #666;
	page-break-inside: avoid;
	font-family: monospace;
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1em 1.5em;
	display: block;
	word-wrap: break-word;
}
